<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>NSLocalNetworkUsageDescription</key>
    <string>FreshCart prints order receipts to thermal printers on your local Wi-Fi network.</string>
    <key>NSBonjourServices</key>
    <array>
        <string>_pdl-datastream._tcp</string>
        <string>_printer._tcp</string>
        <string>_ipp._tcp</string>
    </array>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>FreshCart uses Bluetooth to find and print receipts on nearby Bluetooth thermal printers.</string>
</dict>
</plist>
